<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title '' %} - Our game</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/game.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/rules.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/css/endOfGame.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}

    </head>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container" id="navbar-container">
                    
                <ul class="nav navbar-nav navbar-right">
                    <li class="bottom"><a href="{{ path('homepage') }}" class="bold"><strong>Accueil</strong></a></li>
                    <li><a class="navbar-brand font" href="{{ path('scores') }}">Tableau des scores</a></li>
                </ul>
            </div>
        </nav>
        
        {# <nav class="navbar navbar-default">
            <div class="container" id="container-bar">
                <a class="navbar-brand bottom" href="{{ path('homepage') }}">Accueil</a>
                <a class="navbar-brand" href="{{ path('scores') }}">Tableau des scores</a>
            </div>
        </nav> #}
            
            
            
            
        <div class="container">
             
            <div class="row">
                <h1 class="col-md-12 col-md-offset-0" id="rappelTitre">Politismos Quizz</h1>
            </div>
            
             <div class="row" >
                {% if membre_manager.score < 600 %}
                    <img id="logo" src="{{ asset('assets/images/restricted.png') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 600 and membre_manager.score < 1200 %}
                    <img id="logo" src="{{ asset('assets/images/participer.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 1200 and membre_manager.score < 2000 %}
                    <img id="logo" src="{{ asset('assets/images/deguise.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 2000 and membre_manager.score < 2800 %}
                    <img id="logo" src="{{ asset('assets/images/carte.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 2800 and membre_manager.score < 4000%}
                    <img id="logo" src="{{ asset('assets/images/station.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 4000 and membre_manager.score < 6300 %}
                    <img id="logo" src="{{ asset('assets/images/seconde.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score >= 6300 and membre_manager.score < 7300 %}
                    <img id="logo" src="{{ asset('assets/images/terre.jpg') }}" alt="logo">
                {% endif%}
                
                {% if membre_manager.score == 7300 %}
                    <img id="logo" src="{{ asset('assets/images/best.jpg') }}" alt="logo">
                {% endif%}
             </div>
            
            <div class="row">
                <h3 id="score" class="col-md-12 col-md-offset-0">Score : {{ membre_manager.score }}</h3>
            </div>
            
            <div class="row">
                <p class="col-md-12 col-md-offset-0" id="paragraph">
                {# message affiché à la fin du jeu en fonction du score du joueur #}
                  {% if membre_manager.score < 600 %}
                    {# moins de 600 points #}
                    Nous pensons que vous n'êtes pas prêt(e) pour le monde des humains.
                    Entraînez-vous et retentez l'expérience dans quelques années !
                  {% endif%}
                
                  {% if membre_manager.score >= 600 and membre_manager.score < 1200 %}
                    {# entre 600 et moins de 1200 points #}
                    Pas mal mais pas suffisant!
                    L'essentiel c'est que vous ayez participé. 
                  {% endif%}
                
                  {% if membre_manager.score >= 1200 and membre_manager.score < 2000 %}
                    {# entre 1200 et moins de 2000 points #}
                   Nous apprécions vos efforts mais ce ne sera pas suffisant pour passer inaperçu(e) parmi les humains.
                  {% endif%}
                  
                  {% if membre_manager.score >= 2000 and membre_manager.score < 2800 %}
                    {# entre 2000 et moins de 2800 points #}
                     Vous n'irez pas sur Terre pour cette fois mais nous vous offrons une carte de la planète Terre!
                  {% endif%}
                  
                  {% if membre_manager.score >= 2800 and membre_manager.score < 4000%}
                    {# entre 2800 et moins de 4000 points #} 
                     Nous croyons en vous!
                     Pour votre peine, nous vous offrons une visite gratuite de notre station spatiale Politismos3!
                  {% endif%}
                  
                  {% if membre_manager.score >= 4000 and membre_manager.score < 6300 %}
                    {# entre 4000 et moins de 6300 points #}
                    Vous y étiez presque! 
                    Nous vous offrons une seconde chance au quiz pour remporter le voyage et rencontrer les Humains!
                  {% endif%}
                  
                  {% if membre_manager.score >= 6300 and membre_manager.score < 7300 %}
                    {# entre 6300 points et moins de 7300 points #}
                    Bon travail! Vous avez réussi!
                    Prêt(e) pour l'aventure de votre vie ? 
                  {% endif%}
                  
                  {% if membre_manager.score == 7300 %}
                    {#7300 points(score maximum avec combos)#}
                    Waouh! Nous sommes impressionnés! 
                    Vous êtes de loin notre meilleur(e) candidat(e)!
                    Vous seriez sans doute capable de conduire vous-même la navette! 
                  {% endif%}
                  
                </p>
            </div>
        </div>
                
        {% block javascript %}
       {#récupérerer les liens sur bootstrap#}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>


