{% extends "layout.html.twig" %}
{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/accueil.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}   

{% block content %}
    
    <div class="container">
        <div class="row">
            {# On affiche un message si un joueur n'est pas connecté#}
            {% if not membre_manager.membre %}
                <p class='alert alert-danger col-md-2 col-md-offset-4'>Attention, si vous n'êtes pas connecté votre score ne sera pas sauvegardé !</p>
            {% endif %}
        </div>
        
        <div class="row">
            <h1 class="col-md-2 col-md-offset-4 col-xs-6 col-xs-offset-3" id="mainTitle">Politismos Quiz</h1>
        </div>
    
        <div class="row">
            <a href="{{ path('game') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-5 col-xs-6 col-xs-offset-3" role="button">Jouer</a>
        </div>
        
        <div class="row">
            <a href="{{ path('regles') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-5 col-xs-6 col-xs-offset-3" role="button">Règles du jeu</a>
        </div>
        
        <div class="row">
            <a href="{{ path('scores') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-5 col-xs-6 col-xs-offset-3" role="button">Scores</a>
        </div>
        
       
        {% if membre_manager.membre %}    
        <div class="row" >
            <a href="{{ path('soumission') }}" id="last-button" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-5 col-xs-6 col-xs-offset-3" role="button">Proposer une question</a>
        </div>
        {% endif %}
        
        {% block javascript %}
            {{ parent() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.core.min.js"></script>
            <script src="../assets/js/accueil.js"></script>
        {% endblock %}
    </div>
        
{% endblock %}
