<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title '' %} - Politismos Quiz</title>
        {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/rules.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}

    </head>
    <body>
        {% if membre_manager.admin %}
            <nav class="navbar navbar-inverse" id="navbar-admin"> 
                <div class="container">
                    <a class="navbar-brand">Menu admin</a>
                        <ul class="nav navbar-nav">
                            
                            <li>
                                <a href='{{ path('admin_validation')}}'>Gestion des questions</a>
                            </li>
                        </ul>
                </div>
            </nav>
        {% endif %}               
        <nav class="navbar navbar-default">
                <div class="container" id="navbar-container">
                    
                        <ul class="nav navbar-nav navbar-right">
                            <li class="bottom"><a href="{{ path('homepage') }}"><strong>Accueil</strong></a></li>
                            
                           {% if membre_manager.membre %}
                               
                            <li id="messageUser">
                                Bienvenue {{ membre_manager.membrePseudo }}
                            </li> 
                             
                            <li class="top">
                                <a href="{{ path('deconnexion') }}">Deconnexion</a>
                            </li>
                               
                            {% else %}
                                
                            <li class="top">
                                <a href="{{ path('inscription') }}">Créer un compte</a>
                            </li>
                            
                            <li class="top">
                                <a href="{{ path('connexion') }}">Connexion</a>
                            </li>
                           
                            {% endif %}
                            

                        </ul>
                </div>
        </nav>
        <div class="container">
        {%for type, flashes in app.session.flashbag.all%}
            {# permet d'accéder dans tous ce qui est dans app et d'afficher des messages flash #}
                {% for flash in flashes %}
                    {% if type == 'error' %}
                        {% set type = 'danger' %}
                    {% endif %}
                    <div class="alert alert-{{ type }}">
                        {# pour ne pas echapper les balises html c à dire que les chevrons ne soient pas visibles jiq#}
                        {{ flash|raw }}
                    </div>
                {% endfor %}
        {% endfor%}
        </div>
        {% block content %}
         
        {% endblock %}
        {% block javascript %}
       {#récupérerer les liens sur bootstrap#}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
