{% extends "layout.html.twig" %}

{% block title "Politismos Quiz : Soumission de question" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="col-md2 col-md-offset-4">Proposer votre question</h1>
    </div>
    <form method="post">

        <div class="form-group">
            <label for="question">Entrer un texte de question : </label>
            <textarea class="form-control" id="question" name="question" placeholder="Votre question">{{ question.question }}</textarea>
        </div>

        <div class="form-group">
            <label for="reponseA">Entrer votre réponse A : </label>
            <input type="text" class="form-control" id="reponseA" name ="reponseA" value="{{ question.reponse_a }}" placeholder="Votre réponse A">
        </div>

        <div class="form-group">
            <label for="reponseB">Entrer votre réponse B : </label>
            <input type="text" class="form-control" id="reponseB" name ="reponseB" value="{{ question.reponse_b }}" placeholder="Votre réponse B">
        </div>

        <div class="form-group">
            <label for="reponseC">Entrer votre réponse C : </label>
            <input type="text" class="form-control" id="reponseC" name ="reponseC" value="{{ question.reponse_c }}" placeholder="Votre réponse C">
        </div>

        <div class="form-group">
            <label for="reponseD">Entrer votre réponse D : </label>
            <input type="text" class="form-control" id="reponseD" name ="reponseD" value="{{ question.reponse_d }}" placeholder="Votre réponse D">
        </div>

        <div class="form-group">
            <label for="reponse">Quelle est la bonne réponse ?</label>
            <select id="reponse" name="reponse">
                <option value="a"
                    {% if question.bonne_reponse == "a" %}selected{% endif %}>
                    Réponse A
                </option>
                
                <option value="b"
                    {% if question.bonne_reponse == "b" %}selected{% endif %}>
                    Réponse B
                </option>
                
                <option value="c"
                    {% if question.bonne_reponse == "c" %}selected{% endif %}>
                    Réponse C
                </option>
                
                <option value="d"
                    {% if question.bonne_reponse == "d" %}selected{% endif %}>
                    Réponse D
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="difficulte">Quel est le niveau de difficulté de votre question ?</label>
            <select id="difficulte" name="difficulte">
                <option value="1" {% if question.niveau == "1" %}selected{% endif %}>1</option>
                <option value="2" {% if question.niveau == "2" %}selected{% endif %}>2</option>
                <option value="3" {% if question.niveau == "3" %}selected{% endif %}>3</option>
                <option value="4" {% if question.niveau == "4" %}selected{% endif %}>4</option>
                <option value="5" {% if question.niveau == "5" %}selected{% endif %}>5</option>
                <option value="6" {% if question.niveau == "6" %}selected{% endif %}>6</option>
                <option value="7" {% if question.niveau == "7" %}selected{% endif %}>7</option>
                <option value="8" {% if question.niveau == "8" %}selected{% endif %}>8</option>
                <option value="9" {% if question.niveau == "9" %}selected{% endif %}>9</option>
                <option value="10" {% if question.niveau == "10" %}selected{% endif %}>10</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary margin-button">Soumettre la question</button>
    </form>
    
</div>
    
{% endblock %}
